<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <nav>
        <div class="site-title">
            <a href="/"> <h1>Blog Rambo</h1> </a>
            <p>Rambo Site</p>
        </div>
        <ul>
            <li><a href="/"> Blogs </a></li>
            <li><a href="/about"> About </a></li>
            <li><a href="/blogs/create"> New Blog </a></li>
        </ul>
    </nav>
    <div class="blogs content">
        <h2> About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate earum aspernatur voluptates a iste consequuntur vero debitis? Sunt, autem fugiat? Ex nisi quod nam fugit aliquid. Exercitationem totam excepturi minus.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate earum aspernatur voluptates a iste consequuntur vero debitis? Sunt, autem fugiat? Ex nisi quod nam fugit aliquid. Exercitationem totam excepturi minus.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate earum aspernatur voluptates a iste consequuntur vero debitis? Sunt, autem fugiat? Ex nisi quod nam fugit aliquid. Exercitationem totam excepturi minus.</p>

    </div>
</body>
<%- include('./partials/footer.ejs') %>
</html>